In [1]:
import sqlite3 as sq

In [2]:
con=sq.connect('student.db')

In [3]:
cur=con.cursor()

In [4]:
table1="Create table if not exists stud(sid int primary key,sname text NOT NULL)"

In [5]:
cur.execute(table1)

In [6]:
table2="create table if not exists stud_detail(sid references stud(sid),city text NOT NULL, mobno int)"

In [7]:
cur.execute(table2)

In [8]:
con.commit()

In [14]:
insert1="insert into stud values(01,'DEV2'),(02,'MIHIR'),(03,'YASH'),(04,'SUNNY'),(05,'FENIL'),(06,'SUJAL'),(07,'MEGH'),(08,'KENIL'),(09,'ABHI'),(10,'JASH')"

In [15]:
cur.execute(insert1)

In [20]:
insert2="insert into stud_detail values(01,'surat',9977855443),(02,'vyara',9956890456),(03,'bardoli',9876545678),(04,'kamrej',9988675431),(05,'bardoli',9134821289),(06,'kamrej',7388821882),(07,'vyara',6609878901),(08,'bardoli',9687050900),(09,'bardoli',9956789076),(10,'mangrol',2206578901)"

In [21]:
cur.execute(insert2)

In [22]:
con.commit()

In [23]:
sel1="select * from stud_detail where city='surat'"

In [24]:
cur.execute(sel1)

In [25]:
cur.fetchall()

[(1, 'surat', 9977855443)]

In [26]:
con.commit()

In [27]:
sel2="select * from stud_detail where city LIKE 'B%'"

In [28]:
cur.execute(sel2)

In [29]:
cur.fetchall()

[(3, 'bardoli', 9876545678),
 (5, 'bardoli', 9134821289),
 (8, 'bardoli', 9687050900),
 (9, 'bardoli', 9956789076)]

In [8]:
upd="update stud_detail set mobno=9947758901 where city='surat' and sid=101"

In [12]:
cur.execute(upd)

NameError: name 'cur' is not defined

In [32]:
con.commit()

In [33]:
cur.close()